@model Cook.Models.ApplicationUser

@{
    ViewBag.Title = "EditUserRole";
}

<h2>EditUserRole</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        Username : @Html.TextBox("Email")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
 
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
